POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=
DB_PORT=

WEB_URL=

KC_DB_NAME=
KC_DB_USER=
KC_DB_PASSWORD=
KC_ADMIN_USERNAME=
KC_ADMIN_PASSWORD=
KC_DB_PORT=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_EXTERNAL_ENDPOINT=
MINIO_BUCKET=