name: wb

services:
  database:
    image: postgres:16
    restart: always
    env_file:
      - .env
    volumes:
      - data:/var/lib/postgresql/data
      - ./dumps:/docker-entrypoint-initdb.d
    ports:
      - "${DB_PORT}:5432"
    networks:
      - wb_network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -q '\"status\":\"yellow\\|green\"'"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wb_network

  api:
    build: .
    env_file:
      - .env
    environment:
      DB_HOST: database
      ELASTICSEARCH_HOST: http://elasticsearch:9200
    volumes:
      - .:/app
    depends_on:
      database:
        condition: service_started
      elasticsearch:
        condition: service_healthy
    command: python -m uvicorn core.app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    networks:
      - wb_network

volumes:
  data:
    driver: local
  elasticsearch_data:
    driver: local

networks:
  wb_network:
    driver: bridge