sqlalchemy
asyncpg
python-dotenv
pyjwt
alembic
pytz
werkzeug
uvicorn
fastapi-restful
httpx
ujson
pydantic_settings
psycopg2-binary
typing_inspect
email-validator
pillow
python-multipart
pandas
xlsxwriter
elasticsearch==8.11.0
python-jose[cryptography]
aiobotocore
types-aiobotocore[s3]
cryptography
httpx[http2]

